// .loader-wrapper {
//     display: flex;
    
//     align-items: center;
//     flex-direction: column;
//     background-color: #191919;
//     color: #dbd8d6;

//     h1 {
//         font-size: 5.5vw;
//         text-transform: uppercase;
//         font-family: 'Bai Jamjuree', sans-serif;
//         font-weight: 600;
//     }
//     h2 {
//     font-size: 1.5vw;
//     text-transform: uppercase;
//     font-family: 'Bodoni Moda', serif;
//     font-style: italic;
//     margin-top: 10px;
//     }
// }

// .absolute {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: black;
//     z-index: 1;
// }

.loader-wrapper {
    height: 97vh;
    padding: 10px 0;
    width: 100vw;
    background-color: #f6f0e3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    h1 {
        opacity:0;
        animation: show 0s;
        animation-fill-mode: forwards;
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: 600;
        &.outline{
            color: #f6f0e3;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000,
        }
        &.middle {
            opacity: 1;
            animation: scale 1.5s;
            animation-fill-mode: forwards;
            animation-delay: 4.5s;
        }
    }

    @for $i from 0 through 4 {
        h1:nth-child(#{$i + 1}n) {
           animation-delay: #{$i + 0.5}s;
        }
    }

    @for $b from 0 through 4 {
        h1:nth-child(9n - #{$b}) {
           animation-delay: #{$b + 0.5}s;
        }
    }

}

@keyframes show{ 100% {opacity: 1;} }
@keyframes scale{0% {transform: none;} 100% {transform: scale(10);}}
