.text-wrapper {
    margin-top: 60px;
    position: relative;
    .text-block {
        display: flex;
        justify-content: center;
        gap: 3rem;
        .counter {
            font-size: calc(16px + 44*(100vw - 320px)/1600);
            font-family:'Conv_Ogg Roman',Sans-Serif;
            font-weight: 100;
            position: relative;
            width: 10%;
            text-align: right;
        }
        .hello-text-wrap {
            width: 90%;
            position: relative;
            h1 {
                position: relative;
                display: block;
                &:hover {
                    span {
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #ffffff;
                        color: #111;
                    }
                }
                span {
                    font-size: calc(34px + 130*(60vw - 320px)/1600);
                    display: block;
                    &:hover {
                        opacity: 1;
                        -webkit-text-stroke-width: 0px;
                        -webkit-text-stroke-color: none;
                        color: #bababa;
                    }
                }
            }
            .image-container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -6.597vw;
                height: 80vh;
                width: 100%;
                z-index: -1;
                top: 0;

                img {
                    position: absolute;
                    height: 50vh;
                    width: auto;
                    transition: transform 0.1s ease-in-out;
                    filter: grayscale(1);
                    z-index: 98;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
                        0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.04),
                        0 16px 32px rgba(0, 0, 0, 0.04), 0 32px 64px rgba(0, 0, 0, 0.04);
            
                    &.active {
                        z-index: 99;
                    }
                }
            }
        }
    }
    .circle-wrapper {
        position: relative;
        display: inline-block;
        &:hover {
            .circle {
                background-position: right bottom;
            }
            .title {
                color: #111;
                transition: all 1s ease-in-out;
                .show-title, .show-creat {
                    transform: rotate(180deg);
                }
            }
        } 
        .circle {
            border-radius: 50%;
            border: 1px solid #ffffff;
            background: linear-gradient(to right, transparent 50%, #ffffff 50%);
            background-size: 200% 100%;
            background-position: left bottom;
            transition: all 2s ease;
            width: calc(146px + 100*(100vw - 320px)/1600);;
            height: calc(146px + 100*(100vw - 320px)/1600);;
        }
        .title {
            position: absolute;
            color: #ffffff;
            top: 50%;
            left: 55%;
            transform: translate(-50%, -50%);
            font-size: 0.825rem;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -webkit-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            margin: 0;
            padding: 0;
            .show-title, .show-creat {
                margin: 0;
                padding: 0;
                font-size: 0.825rem;
                display: block;
                line-height: 1.34;
                letter-spacing: 0.5rem;
                transition: all 1s ease-in-out;
            }
        }
    }
}