@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
	font-family: 'Monument';
	src: url('./fonts/MonumentExtended-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    background-color: #151515;
    font-family: 'Monument', cursive !important;
    color: #dbd8d6;
}

.app {
    background-color: #000;
    position: absolute;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    transform: translateY(0);
    transition: transform 1.5s ease-in-out;
}

.main-container {
    position: relative;

    @include mq ('tablet', min) {
        padding: 0 80px;
        width: calc(100vw - 126px);
    }
}