@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");
@import "_mixins.scss";

@font-face {
	font-family: 'Monument';
	src: url('./fonts/MonumentExtended-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

$bg-color: #111;

::-webkit-scrollbar { 
    display: none; 
}

body {
    background: $bg-color;
    font-family: 'Monument', cursive !important;
    
}

.main-container {
    position: relative;
    h1 {
        font-size: clamp(100px, 15vw, 15vw);
        font-weight: bold;
        max-width: 70vw;
        text-transform: uppercase;
        color: #ffffff;
    }

    @include mq ('tablet', min) {
        margin-left: 55px;
        padding-left: 50px;
        border-left: 1px solid rgb(116, 116, 116);
        width: calc(100vw - 126px);
    }
}