@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");
@import "_mixins.scss";

@font-face {
	font-family: 'Monument';
	src: url('./fonts/MonumentExtended-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    background-color: #151515;
    font-family: 'Monument', cursive !important;
    color: #ffffff;
}

.app {
    background-color: #000;
    position: absolute;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    transform: translateY(0);
    transition: transform 1.5s ease-in-out;
}

.main-container {
    position: relative;

    @include mq ('tablet', min) {
        padding: 0 80px;
        width: calc(100vw - 126px);
    }
}