@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.logo{
    position: fixed;
    left: -130px;
    top: 130px;
    #alpha1{
        position: absolute;
        left: 140px;
        top: -110px;
        display: inline-block;
        font-size: 35px;
        font-weight: bolder;
        font-stretch: ultra-expanded;
        color: #fff;
        -webkit-text-stroke: 1px black;
        font-family: 'Roboto', sans-serif !important;
    }

    #alpha2{
        position: absolute;
        left: 145px;
        top: -110px;
        display: inline-block;
        font-size: 35px;
        font-weight: bolder;
        font-stretch: ultra-expanded;
        color:#fff;
        -webkit-text-stroke: 1px black;
        font-family: 'Roboto', sans-serif !important;
    }

    #alpha3{
        position: absolute;
        left: 165px;
        top: -110px;
        display: inline-block;
        font-size: 35px;
        font-weight: bolder;
        font-stretch: ultra-expanded;
        color:#fff;
        -webkit-text-stroke: 1px black;
        font-family: 'Roboto', sans-serif !important;
    }

    #alpha4{
        position: absolute;
        left: 170px;
        top: -110px;
        display: inline-block;
        font-size: 35px;
        font-weight: bolder;
        font-stretch: ultra-expanded;
        color:#fff;
        -webkit-text-stroke: 1px black;
        font-family: 'Roboto', sans-serif !important;
    }
}