.about-block {
    position: relative;
    height: auto;
    margin-top: 150px;
    .subtitle-wrap {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        h1 {
            font-size: calc(150px + 130*(100vw - 320px)/1600);
        }
    }
    .about-wrap {
        display: flex;
        margin-top: 150px;
        justify-content: center;
        .text-wrap {
            width: 50%;
            .circle-wrapper {
                position: relative;
                margin: 0 auto;
                display: inline-block;
                &:hover {
                    .circle {
                        background-position: right bottom;
                    }
                    .title {
                        color: #111;
                        transition: all 1s ease-in-out;
                        .show-title, .show-creat {
                            transform: rotate(180deg);
                        }
                    }
                } 
                .circle {
                    border-radius: 50%;
                    border: 1px solid #ffffff;
                    background: linear-gradient(to right, transparent 50%, #ffffff 50%);
                    background-size: 200% 100%;
                    background-position: left bottom;
                    transition: all 2s ease;
                    width: calc(146px + 100*(100vw - 320px)/1600);;
                    height: calc(146px + 100*(100vw - 320px)/1600);;
                }
                .title {
                    position: absolute;
                    color: #ffffff;
                    top: 50%;
                    left: 55%;
                    transform: translate(-50%, -50%);
                    font-size: 0.825rem;
                    -ms-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -webkit-transition: all 1s ease-in-out;
                    -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
                    margin: 0;
                    padding: 0;
                    .show-title, .show-creat {
                        margin: 0;
                        padding: 0;
                        font-size: 0.825rem;
                        display: block;
                        line-height: 1.34;
                        letter-spacing: 0.5rem;
                        transition: all 1s ease-in-out;
                    }
                }
            }
            .whatido-title {
                text-align: right;
                font-size: calc(15px + 15*(100vw - 320px)/1600);
                &::before{
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    margin-right: .25em;
                    background-color: #ffffff;
                    border-radius: 100%;
                    content: "";
                }
            }
            p {
                margin-top: 70px;
                font-size: calc(30px + 20*(100vw - 320px)/1600);
                line-height: 1.6;
                span {
                    position: relative;
                    &::after {
                        transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        height: 0.15em;
                        width: auto;
                        background-color: #ffffff;
                    }
                }
            }
            .skills-wrap {
                display: flex;
                gap: 5rem;
                margin-top: 100px;
                .skill-column {
                    width: 33.333%;
                    h1 {
                        font-size: calc(20px + 10*(100vw - 320px)/1600);
                        font-weight: 100;
                    }
                    ul {
                        margin-top: 30px;
                        li {
                            color: #fefefe;
                            opacity: 0.6;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
    .about-title-wrap {
        display: flex;
        justify-content: flex-end;
        gap: 5rem;
        position: relative;
        span {
            font-size: calc(16px + 44*(100vw - 320px)/1600);
            font-family:'Conv_Ogg Roman',Sans-Serif;
            font-weight: 100;
            position: relative;
            width: 10%;
            text-align: right;
        }
        h1 {
            width: 70%;
            position: relative;
            font-size: calc(34px + 106*(100vw - 320px)/1600);
            &:after {
                transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 140%;
                width: 90%;
                height: 1px;
                background-color: #ffffff;
            }
        }
    }
}