.contact-block {

    .contact-title-wrap {
        margin-left: 50px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        div {
            width: 20%;
        }
        h1 {
            font-size: calc(16px + 44*(100vw - 320px)/1600);
            width: 50%;
            color: #ffffff;
            position: relative;
            &:after {
                transition: opacity .35s cubic-bezier(.3,.86,.36,.95);
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 140%;
                width: 90%;
                height: 1px;
                background-color: #ffffff;
            }
        }
    }
    .text-wrap {
        position: relative;
        margin-top: 150px;
        h1 {
            margin-left: 150px;
            font-size: 25rem;
        }
    }
}