.header{
    padding: 50px 0;
    .header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .logo {
            h1 {
                font-size: 30px;
            }
        }
        .links {
            display: flex;
            gap: 1rem;
        }
    }
}